.back-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--color-text);
    text-decoration: none;
    transition: all 0.1s;
    border: var(--border-thin);
    background: var(--color-white);
    box-shadow: 1px 1px 0px var(--color-border);
}

.back-link:hover {
    background: var(--color-yellow);
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 0px var(--color-border);
}

[data-theme="archival"] .back-link:hover {
    transform: none;
    box-shadow: var(--shadow-solid);
}

.back-link.small {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}
